<div class="wrapper">
    <header class="header">
       <nav class="navbar clearfix">
      
          <div class="nav-right-box">
              <span class="nav-toggle-span">
          <button class="btn btn-toggle" type="button">
          <i class="fas fa-bars"></i>
          </button>
          </span>
             <div class="head_user-box clearfix dropdown">
                <div class="head_user_name clearfix">
                   <div class="top-user-img f-right d-flex align-items-center">
                      <img src="assets/img/user1.png" alt="User Image"/>
                      <img src="assets/img/wallet1.png" alt="User Image"/>
                     <a href="#logout1" data-toggle="modal"><img src="assets/img/logout1.png" alt="User Image"/></a>
                   </div>
                </div>
             </div>
          </div>
       </nav>
    </header>
    </div>