<aside class="sidebar">
   <span class="close_panel"><i class="fas fa-times"></i></span>

   <div class="sidebar-scroller">
      <!--Accordion Start -->
      <div class="loginuser-block">
         <div class="dropdownimg">
            <img src="assets/img/dropd.png">
         </div>
         <div class="loginuser-img">
            <img src="assets/img/usericon.png">
            <i class="fa fa-circle"></i>
         </div>
         <label style="display: block!important;">Welcome</label>
         <h5>Josh Hazlewood</h5>
         <label>abc@gmail.com</label>
      </div>
      <div id="accordion" class="sidebar-menu">

         <!-- menu-box Start -->

         <!-- menu-box End -->

         <!-- menu-box Start -->
         <div class="menu-box toggle-menu active">
            <div class="card-header clearfix" id="headingOne">
               <a class="side_menu" (click)="goTo('product')">
                  <span class="side_menu_icon"><img src="assets/img/client.png" alt="Icon"></span>Product Management
               </a>
            </div>

         </div>
         <div class="menu-box toggle-menu">
            <div class="card-header clearfix" id="headingOne">
               <a class="side_menu" (click)="goTo('user')">
                  <span class="side_menu_icon"><img src="assets/img/client.png" alt="Icon"></span>User Management
               </a>
            </div>

         </div>
         <div class="menu-box toggle-menu active">
            <div class="card-header clearfix" id="headingOne">
               <a class="side_menu" (click)="goTo('enquiry')">
                  <span class="side_menu_icon"><img src="assets/img/client.png" alt="Icon"></span>Enquiry Management
               </a>
            </div>

         </div>
         <div class="menu-box toggle-menu active">
            <div class="card-header clearfix" id="headingOne">
               <a class="side_menu" (click)="goTo('faq')">
                  <span class="side_menu_icon"><img src="assets/img/client.png" alt="Icon"></span>FAQ Management
               </a>
            </div>

         </div>
         <!-- menu-box End -->

      </div>
      <!--Accordion End -->
   </div>
</aside>