<div class="beforelogin">
    <div class="row align-items-center bodywraper">
       <div class="col">
        <form class="form-box" >
          <div class="login-box max-WT-500">
           <form >
            <div class="login-box-body">
                <div class="text-center">
                  
                   <h3 >Add New Product</h3>
                </div>
               <div class="form-group">
                 <input type="text" formControlName="title" #email class="form-control form-control-style1 "  placeholder="Product Title" required/>
               </div>
               <div class="form-group">
                 <input type="text" formControlName="description" class="form-control form-control-style1 "  placeholder="Description" required/>
               </div>
               <div class="form-group">
                <input type="text" formControlName="richDescription" class="form-control form-control-style1 "  placeholder="full Description" required/>
              </div>
              
               <div class="form-group">
                <input type="text"formControlName="contactNo" class="form-control form-control-style1 "  placeholder="contact no" required/>
              </div>
              <div class="form-group">
                <input type="text"formControlName="emailId" class="form-control form-control-style1 "  placeholder="Email id" required/>
              </div>
              <div class="form-group">
                <input type="text" formControlName="countInStock" class="form-control form-control-style1 "  placeholder="countInStock" required/>
              </div>
              <div class="text-center mt-20"  >
                <a  class="btn btn-gray btn-large radius0 max-WT-350"(click)="createProduct()" >Create</a>
              
               </div>
               <!-- <div class="text-center mt-20" *ngIf="editProduct" >
               
                <a  class="btn btn-gray btn-large radius0 max-WT-350"  (click)="editProduct()">Update</a>
               </div> -->
          </div>
           </form>
       </div>
       </form>
    </div>
 </div>
 </div>